body {
  margin: 0;

  font-family: 'Manrope', sans-serif;
  font-size: 18px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  padding: 0;
  margin: 0;
}

section {
  padding: 134px 0 120px;
}
p {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}
.container-large {
  width: 100%;
  max-width: 1760px;
  margin: 0 auto;
}

/* HEADER */

.header {
  margin: 50px 80px 50px;
  position: sticky;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}
.nav {
  font-size: 14px;
}
.nav__link {
  padding-right: 64px;
}
.nav__lang {
  border: 1px solid #000;
  border-radius: 3px;
  padding: 5px 8px;
}

/* INTRO */
.intro {
  height: 80vh;
  margin: 75px 0;
}
.intro__image {
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: auto;
}
.intro__image svg {
  height: auto;
  max-width: 100%;
}
.intro__inner {
  display: flex;
  justify-content: space-between;
}
.intro__text {
  max-width: 700px;
}
.intro__title {
  font-size: 60px;
  font-weight: bold;
  line-height: 72px;
}
.intro__subtitle {
  font-size: 18px;
  line-height: 32px;
  padding-top: 88px;
}
.intro__form {
  padding-top: 81px;
}
.intro__form-input {
  width: 370px;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  padding: 24px 0 20px 29px;
}
.intro__form-button {
  cursor: pointer;
  border: 1px solid #462BE2;
  border-radius: 8px;
  padding: 25px 41px 21px 34px;
  background-color: #462BE2;
  color: #fff;
  text-transform: uppercase;
}
.image {
  margin-top: 20px;
}


/* ABOUT */
.about {
  background-color: #23D87D;
  height: 660px;
  padding: 223px 0;
  display: block;
}
.about__inner {
  position: relative;
  z-index: 100;
}
.about__inner .figures {
  z-index: 101;
}
.about__text {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  line-height: 48px;
  text-align: center;
  margin: 0 40px;
  position: relative;
}
.about__bg-image {
  position: inherit;
  top: 0;
  left: 50px;
}
.about .about__inner .figures .circle-white {
  top: -58%;
  left: -15%;
}
.about .about__inner .figures .triangle-white {
  bottom: 3%;
  right: 26%;
}
.about .about__inner .figures .triangle-filled {
  bottom: -88%;
  right: 34%;
}
.about .about__inner .figures .line-left {
  bottom: 84%;
  left: 34%;
}
.about .about__inner .figures .rhombus-filled {
  top: -64%;
  right: 36%;
}


/* FOR WHOM */
.for__whom-inner {
  padding-bottom: 143px;
  text-align: center;
}

.for__whom-title {
  font-size: 48px;
  font-weight: bold;
line-height: 64px;
}

.for__whom-description {
  display: flex;
  justify-content: space-between;
}

.for__whom-item {
  width: 33.33333%;
}

.for__whom-info {
  max-width: 400px;
}

.for__whom-info-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 37px;
  padding-top: 49px;
}

.for__whom-info-subtitle {
  font-size: 16px;
  line-height: 32px;
  padding-top: 47px;
}

/* FEATURES */

.features {
  background-color: #252F5A;
  color: #fff;
}
.features__inner {
  margin: 0 200px;
  text-align: center;
}
.features__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 64px;
}
.features__subtitle {
  font-size: 18px;
  line-height: 32px;
  padding-top: 47px;
}

.line  {
  width: 100%;
  border-top: 1px dashed #FF8A33; /* Параметры линии */
  height: 18px; /* Высота блока */
  margin: 124px 0;
}
.line__bottom {
  margin-bottom: 100px;
}

.features__text {
  margin: 0 70px;
  font-size: 24px;
  font-weight: bold;
  line-height: 48px;
}

.figure__icon {
  position: relative;
}

.features__item {
  display: flex;
  justify-content: space-between;
}
.feature-center {
  margin: 180px 0;
}
.features__item-inner {
  max-width: 411px;
}
.features__item-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
}
.feature-circle {
  bottom: 150px;
  right: 30px;
}
.feature-line{
  bottom: 300px;
  left: 200px;
}
.feature-square {
  bottom: 420px;
  left: 370px;
}
.feature-triangle--color {
  bottom: 400px;
  right: 200px;
}
.feature-triangle {
  bottom: 220px;
  left: 415px;
}

.list-items {
  list-style-type: '- ';
}
.list-item {
  padding-left: 22px;
  font-size: 18px;
  line-height: 24px;
  padding-top: 30px;
}
.feat-img {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.features-circle {
  position: relative;
  top: 50px;
}

.features__image .figure__icon .circle-green {
  bottom: 25%;
  left: -7%;
}
.features__image .figure__icon .triangle-green {
  bottom: 40%;
  right: -10%;
}
.features__image .figure__icon .triangle-filled {
  top: 18%;
  left: -14%;
}
.features__image .figure__icon .line-left {
  top: 42%;
  left: 52%;
}
.features__image .figure__icon .rhombus-filled {
  top: 13%;
  right: 13%;
}

/* BENEFITS */
.benefits {
  background-color: #23D87D;
  color: #fff;
}

.benefits__inner {
  text-align: center;
}

.benefits__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 64px;
}
.benefits__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.benefits__item {
  flex: 1 1 235px;
  text-align: center;
  margin-top: 160px;
}
.benefits__icon {
  /* width: 260px; */
  height: 60px;
  position: relative;
}
.benefits__item-text {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  padding-top: 35px;
}
.benefits__items .benefits__item:first-child .circle-blue {
  right: 31%;
  bottom: 8%;
}
.benefits__items .benefits__item:nth-child(3) .circle-blue {
  right: 49%;
  bottom: -12%;
}
.benefits__items .benefits__item:nth-child(4) .circle-blue {
  right: 33%;
  bottom: -12%;
}
.benefits__items .benefits__item:nth-child(5) .circle-blue {
  left: 35%;
  bottom: 35%;
}
.benefits__items .benefits__item:nth-child(7) .circle-blue {
  left: 37%;
  top: -37%;
}

.benefits__items .benefits__item .triangle-orange {
  right: 45%;
  bottom: -23%;
}
.benefits__items .benefits__item:nth-child(7) .triangle-orange {
  right: 53%;
  bottom: -19%;
}


.benefits__items .benefits__item:first-child .rhombus-orange {
  left: 33%;
  top: -18%;
}
.benefits__items .benefits__item:nth-child(4) .rhombus-orange {
  left: 35%;
  top: -35%;
}


.benefits__items .benefits__item:first-child .line-left {
  bottom: -4%;
  left: 34%;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.benefits__items .benefits__item:nth-child(2) .line-left {
  bottom: -13%;
  left: 43%;
}
.benefits__items .benefits__item:nth-child(3) .line-left {
  top: -15%;
  left: 47%;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(171deg);
}
.benefits__items .benefits__item:nth-child(4) .line-left {
  bottom: -33%;
  left: 35%;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.benefits__items .benefits__item:nth-child(5) .line-left {
  bottom: 46%;
  left: 47%;
}
.benefits__items .benefits__item:nth-child(6) .line-left {
  bottom: 4%;
  left: 46%;
}
.benefits__items .benefits__item:nth-child(7) .line-left {
  bottom: 46%;
  left: 47%;
}


.benefits__items .benefits__item .circle-orange:first-child {
  top: -11%;
  left: 45%;
}

.benefits__items .benefits__item:nth-child(6) .circle-orange {
  top: 72%;
  left: 39%;
}


.benefits__items .benefits__item .rhombus-blue {
  top: 27%;
  right: 31%;
}
.benefits__items .benefits__item:nth-child(6) .rhombus-blue {
  top: -25%;
  right: 38%;
}


.benefits__items .benefits__item .triangle-yellow {
  top: -31%;
  left: 31%;
}

/* MOBILE */
.mobile__app{
  background-color: #FFE07D;
}
.mobile__app-inner{
  display: flex;
  justify-content: space-between;
  padding: 45px 0 33px;
}
.mobile__app-text {
  max-width: 528px;
  padding-top: 50px;
}
.mobile__app-text-title {
  vertical-align: middle;
  font-size: 24px;
  font-weight: bold;
  line-height: 48px;
}
.mobile__app-text-subtitle {
  vertical-align: middle;
  font-size: 16px;
  line-height: 32px;
  margin-top: 47px;
}

/* PARTNERS */

.partners__inner {
  text-align: center;
}
.partners__title{
  font-size: 48px;
  font-weight: bold;
  line-height: 64px;
}
.partners__icon {
display: flex;
  justify-content: space-between;
  margin-top: 85px;
}


/* FORM */

.feedback {
  text-align: center;
}
.feedback__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 64px;
  margin-top: 275px;
}
.feedback-form {
  position: relative;
  padding-top: 64px;
  z-index: 1;
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: 0 auto;
  border: 1px solid #23D87D;
  border-radius: 16px;
  padding: 20px;
  background-color: #23D87D;
}
.form-input {
  margin-bottom: 30px;
  color: #fff;
  font-size: 24px;
}
.form-input:last-child {
  margin-top: 30px;
}
.form-input::placeholder {
  font-size: 24px;
  font-weight: bold;
  line-height: 48px;
  color: #fff;
}
.form-input {
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: #23D87D;
  padding: 20px 0 16px 29px;
}
.area {
  height: 240px;
  resize: vertical;
  margin-top: 0px;
  margin-bottom: 0px;
}
.area::placeholder {
  font-size: 24px;
  font-weight: bold;
  line-height: 48px;
  color: #fff;
}
.submit {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-color: #462BE2;
  background-color: #462BE2;
}
.feedback-img {
  display: flex;
  justify-content: space-between;
}
.feedback-girl {
  position: relative;
  bottom: 80px;
}
.feedback-man {
  position: relative;
  bottom: 53px;
}
.feedback-form .figures .figures-element:first-child {
  right: 10%;
  top: 21%;
}
.feedback-form .figures .figures-element:nth-child(2) {
  left: 22%;
  bottom: -22%;
}
.feedback-form .figures .figures-element:nth-child(3) {
  right: 20%;
  bottom: 39%;
}
.feedback-form .figures .figures-element:nth-child(4) {
  left: 37%;
  bottom: -79%;
}
.feedback-form .figures .figures-element:nth-child(5) {
  left: 5%;
  bottom: 46%;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.feedback-form .figures .figures-element:nth-child(6) {
  right: 2%;
  bottom: -60%;
}
.feedback-form .figures .figures-element:nth-child(7) {
  left: 25%;
  bottom: 33%;
}
.feedback-form .figures .figures-element:nth-child(8) {
  right: 8%;
  bottom: 10%;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.feedback-form .figures .figures-element:nth-child(9) {
  left: 0;
  bottom: -64%;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.feedback-form .figures .figures-element:nth-child(10) {
  left: 41%;
  bottom: -27%;
}
.feedback-form .figures .figures-element:nth-child(11) {
  left: 22%;
  top: 16%;
}
.feedback-form .figures .figures-element:nth-child(12) {
  right: 24%;
  bottom: -10%;
}

/* FOTER */

.footer {
  margin-bottom: 60px;
}
.footer__items {
  display: flex;
  justify-content: space-between;
}
.line-footer {
  margin: 75px 0 65px;
  border-color: #000;
}
.footer-info {
  text-decoration: none;
}
.footer-info:hover {
  text-decoration: underline;
}
.mail {
  margin: 0 70px;
  color: #462BE2;
}
.telegram {
  color: #359FDD;
}


/* FIGURES */
.figures-element {
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
}
.figures .circle {
  height: 22px;
  width: 22px;
}
.figures .circle-filled {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23252f5a' d='M17.23 8.59A8.624 8.624 0 1 1-.019 8.588a8.624 8.624 0 0 1 17.247.002z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  height: 18px;
  width: 18px;
}
.figures .circle-white {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='55' height='55' viewBox='0 0 55 55'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23fff' d='M27.08 1.752c14.46.016 26.18 11.735 26.196 26.196 0 14.468-11.729 26.195-26.196 26.195C12.612 54.143.884 42.415.884 27.947.884 13.48 12.613 1.752 27.08 1.752zm0 53.276c14.948-.017 27.063-12.131 27.08-27.08 0-14.956-12.124-27.08-27.08-27.08C12.124.868 0 12.992 0 27.948c0 14.956 12.124 27.08 27.08 27.08z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  height: 55px;
  width: 55px;
}
.figures .circle-green {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='54' height='53' viewBox='0 0 54 53'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%2323d87d' d='M27.232.962c14.116.016 25.557 11.456 25.572 25.573 0 14.122-11.449 25.571-25.572 25.571S1.66 40.656 1.66 26.534C1.66 12.41 13.11.962 27.231.962zm0 52.007c14.593-.016 26.419-11.842 26.436-26.435C53.668 11.934 41.832.1 27.232.1S.797 11.934.797 26.534c0 14.6 11.835 26.435 26.435 26.435z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  height: 53px;
  width: 54px;
}
.figures .circle-orange {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3E%3Cdefs%3E%3CclipPath id='5fnxa'%3E%3Cpath fill='%23fff' d='M0 11C0 4.925 4.925 0 11 0s11 4.925 11 11-4.925 11-11 11S0 17.075 0 11z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cpath fill='none' stroke='%23ffa76c' stroke-miterlimit='50' stroke-width='2' d='M0 11C0 4.925 4.925 0 11 0s11 4.925 11 11-4.925 11-11 11S0 17.075 0 11z' clip-path='url(&quot;%235fnxa&quot;)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.figures .circle-blue {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3E%3Cdefs%3E%3CclipPath id='z45da'%3E%3Cpath fill='%23fff' d='M0 11C0 4.925 4.925 0 11 0s11 4.925 11 11-4.925 11-11 11S0 17.075 0 11z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cpath fill='none' stroke='%23462be2' stroke-miterlimit='50' stroke-width='2' d='M0 11C0 4.925 4.925 0 11 0s11 4.925 11 11-4.925 11-11 11S0 17.075 0 11z' clip-path='url(&quot;%23z45da&quot;)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); 
}
.figures .triangle {
  height: 25px;
  width: 28px;
}
.figures .triangle-filled {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='25' viewBox='0 0 29 25'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23ffa76c' d='M14.43.217L.308 24.683h28.248z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  height: 25px;
  width: 29px;
}
.figures .triangle-white {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' viewBox='0 0 29 29'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23fff' d='M27.293 8.434L8.4 27.324 1.487 1.518zm1.168.083L29 7.975.237.267l7.506 28.026.201.741z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  height: 29px;
  width: 29px;
}
.figures .triangle-green {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' viewBox='0 0 29 29'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%2323d87d' d='M27.186 8.485L8.742 26.925 1.994 1.733zm1.14.08l.526-.529L.773.513 8.101 27.87l.196.723z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  height: 29px;
  width: 29px;
}
.figures .triangle-orange {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='26' viewBox='0 0 29 26'%3E%3Cg%3E%3Cg%3E%3Cpath fill='none' stroke='%23ffa76c' stroke-miterlimit='50' d='M14.235.773v0L.449 24.657v0h27.575v0z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); 
}
.figures .triangle-yellow {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='29' viewBox='0 0 30 29'%3E%3Cg%3E%3Cg%3E%3Cpath fill='none' stroke='%23ffe07d' stroke-miterlimit='50' d='M27.389 8.485L8.945 26.925 2.197 1.733zm1.14.08l.526-.529L.976.513 8.304 27.87l.196.723z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  height: 29px;
  width: 29px;
}
.figures .line-left {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='39' height='40' viewBox='0 0 39 40'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23252f5a' d='M38.371 39.687L.097 1.413.726.784 39 39.06z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  height: 40px;
  width: 39px;
}
.figures .rhombus {
  height: 34px;
  width: 35px;
}
.figures .rhombus-filled {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 34 34'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23252f5a' d='M17.008 34.058L0 17.05 17.008.04 34.017 17.05z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  height: 35px;
  width: 34px;
}
.figures .rhombus-blue {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 35 35'%3E%3Cg%3E%3Cg%3E%3Cpath fill='none' stroke='%23462be2' stroke-miterlimit='50' d='M17.508 33.856v0L.905 17.253v0L17.508.649v0l16.604 16.604v0z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); 
}
.figures .rhombus-orange {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 35 35'%3E%3Cg%3E%3Cg%3E%3Cpath fill='none' stroke='%23ffa76c' stroke-miterlimit='50' d='M34.207 17.603v0L17.603 34.207v0L1 17.603v0L17.603 1v0z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); 
}
/* ============== */


@media (max-width: 1500px){
  .container, .container-large{
    padding: 0 45px;
  }
}